//
// STYLE GUIDE
//

.pur-sg {

	background-color: $white;


	&-hero {
		height: 50vh;
		background-color: $white-bone; 
		position: relative;
		h1 {
			font-size: 84px;
			position: absolute;
			top:50%;
			left: 50%;
			transform: translate(-50%,-60%);
			letter-spacing: -.07em;

		}
	}

	h2 {
		border-bottom: 1px solid $grey1;
		margin: 4em -1em 2em;
		padding: .65em 1em;
		font-size: 24px;
		text-transform: uppercase;
		background: #000;
		color: #fff;
		border-radius: 6px;
	}

	h6 {
		display: block;
		text-transform: uppercase;
		font-family: $font-bread;
		
	}
	
	.pages {
		a {
			color: $pink-dark;
			margin-bottom: 12px;
			display: inline-block;
			text-decoration: none;
			&:hover {
				color: $pink-dark;
				text-decoration: underline;
			}
		}
	}

	.color-palette {
		overflow: hidden;
		ul {
			margin: 18px 14px 0;
			display: block;
			
			padding: 0;
		}
		li {
			width: 128px;
			height: 128px;
			float: left;
			overflow: hidden;
			color: $white;
			margin: 0 20px 20px 0;
			display: flex;
  			justify-content: center;
 			align-items: center;
 			box-sizing: border-box;
 			box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .12);
 			border-radius: 50%;

 			&.-bg-pink {
				background: $pink;
				color: $white;
			}

			&.-bg-pink-dark {
				background: $pink-dark;
				color: $white;
			}

			&.-bg-white-bone {
				background: $white-bone;
				color: $black;
			}


 			&.-bg-grey1 {
				background: $grey1;
				color: $white;
			}
			&.-bg-grey2 {
				background: $grey2;
				color: $white;
			}
			&.-bg-grey-dark {
				background: $grey-dark;
				color: $white;
			}

			&.-bg-white {
				background: $white;
				color: $black;
			}
			&.-bg-black {
				background: $black;
				color: $white;
			}
		}
	}
	.typography {
		margin-bottom: 60px;
		h2 {
			border: none;
		}
		h6 {
			font-family: $font-header;
			color: $white;
		}
		span {
			color: $grey1;
		}
	}
	.icons {
		margin-bottom: 40px;
		overflow: hidden;
		figure {
			width: 72px;
			height: 72px;
			display: inline-block;
			margin: 0 20px 0 0; 
			svg {
				width: 58px;
				height: 58px;
				fill: $white;
			}
		}
	}
	.button {
		margin-bottom: 20px;
	}
	.mb40 {
		margin-bottom: 40px;
	}
}