//
// PS - Popup
// 

.ps-overlay {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.68);
	z-index: 100;
}

.ps-popup {
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 101;
	padding: 0 16px; 

	.ps-the-box {
		margin: 54px auto 0;
		max-width: 480px;
		padding: 24px;
	}

	.header {
		text-align: center;
		line-height: 1.1;
		margin: 0 0 20px;
	}

	.text {
		text-align: center;
		line-height: 1.256;
		margin: 0 0 20px;
	}

	&.-yes-no {
		.buttons {
			display: flex;
			justify-content: center;
			.ps-btn {
				max-width: 88px;
				margin: 0 8px;
			}
		}
	}


}

.-open-popup {
	.ps-overlay,
	.ps-popup {
		display: block;
	}
}


