//
// Temp
// 

.temp-start {
	a {
		display: block;
		margin: 0 0 6px
	}
	.logo {
		width: 120px;
		height: 120px;
		margin: 64px auto;
	}

	.row {
		padding: 0 8px;
		margin: 0 auto 64px;
		max-width: 680px;
		@include VP600 {
			display: flex;
			justify-content: space-between;
		}

	}

	.col {
		margin: 0 8px;
	}
}




