//
// GLOBAL
// 

html {
	-webkit-tap-highlight-color: transparent!important;
}

body {
	background: var(--ps-skin-bg);
	overflow-x: hidden;

	&.-open-menu {
		height: 100vh;
		overflow: hidden;

	}
}

.purspot {
	min-height: 100vh; 
	padding-top: 70px;	
	padding-bottom: 112px;
	max-width: 860px;
	margin: 0 auto;
	overflow-x: hidden;
	min-width: 320px;

	.ps-info,
	.ps-hero,
	.ps-search,
	.ps-accordion,
	h1 {
		transition: all .375s ease-out;
		opacity: 1;
	}

	&.-open-cart {
    	.ps-info,
    	.ps-hero,
    	.ps-search,
    	.ps-accordion,
    	h1 {
			opacity: 0;
		}
	}

	&.-reset {
		min-height: 0; 
		padding-bottom: 0;
	}

	@include VP1024 {
		overflow: visible;
	}

	// Startpage
	.purspot-logo {
		width: 96px;
		margin: 8px auto 0;
	}
}

.ps-body {
	position: relative;
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
}

.ps-page-startpage{
	background: $white;
}

.startpage-top {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 36px;
		left: 50%;
		height: 100%;
		width: 100vw;
		transform: translateX(-50%);
		background: var(--ps-skin-start-bg);
		z-index: -1;
	}

}

.startpage-merchants {

	@include VP480 {
		padding-bottom: 32px;
	}

}


// ANIMATIONS

	@keyframes scale-i{
	  0% {
	    transform: scale(1);
	    opacity: 1;
	  }
	  

	  
	  100% {
	    transform: scale(2.4);
	    opacity: 0;
	    
	  }
	}


	@keyframes pulse-cart{
	  0% {
	    transform: scale(1);
	    opacity: .5;
	  }
	  
	  40% {
	    opacity: .4;
	  }
	  
	  100% {
	    transform: scale(6);
	    opacity: 0;
	    
	  }
	}


// NUXT.JS - PAGE TRANSITIONS

.page-enter-active,
.page-leave-active,
.custom-enter-active, 
.custom-leave-active {
  transition: opacity .375s
}

.page-enter,
.page-leave-active,
.custom-enter, 
.custom-leave-active {
  opacity: 0
}





