//
// PURSPOT
//


	$MOBILE: 		true;
	$TABLET: 		true;
	$DESKTOP: 		true;
	$MOBILETABLET: 	true;

	$VP1920: 		true;
	$VP1680: 		true;
	$VP1440: 		true;
	$VP1368: 		true;
	$VP1280: 		true;
	$VP1024: 		true;
	$VP768: 		true;
	$VP60: 			true;
	$VP600: 		true;
	$VP480: 		true;
	$VP320: 		true;


@import "abstracts/_variables";


// ABSTRACTS
@import "abstracts/_functions";
@import "abstracts/_mixins";
@import "abstracts/_mixins-breakpoints";
@import "abstracts/_variables";

// BASE
@import "base/_reset";
@import "base/_global";
@import "base/_typography";
@import "base/_helper-classes";

// COMPONENTS
@import "components/_ps-forms";
@import "components/_ps-search";
@import "components/_ps-box";
@import "components/_ps-popup";

@import "components/_ps-buttons";
@import "components/_ps-accordion";
@import "components/_ps-cookie";
@import "components/_ps-product";

@import "components/_ps-header";
@import "components/_ps-header-steps";
@import "components/_ps-info";
@import "components/_ps-usp";

@import "components/_ps-cart";
@import "components/_ps-hero";

@import "components/_ps-notification";

@import "components/_ps-item";



// LAYOUT
@import "layout/_footer";
@import "layout/_grid";
@import "layout/_header";

// PAGES
// @import "pages/__styleguide";
@import "pages/_home";


// THEMES
@import "themes/_theme-a";


@import "components/_temp-start";
